h1 {
  font-family: 'Lato', sans-serif;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}

.site-brand img{
  height: 60px;
}
.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.jumbotron {
  background-color: #fff;
}
.album-cover,
.artist-cover{
  width: 100% !important; 
  height: auto !important; 
  display: inline-block !important;
}